<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to our Home Page.</h1>
    <p> Hope to see you soon!.</p><br>

    <form action="/login" method="post">
        <input type="email" name="user_email"> <br>
        <input type="password" name="user_password"> <br><br>
        <input type="submit" value="Log In">
    </form>
    <br><br>

    <h1>Add here..</h1><br>

    <form action="/add" method="post">
        <input type="text" name="a"><br>
        <input type="text" name="b"><br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>