<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my application</h1>
    <h3>Fill the following form to register</h3>   
    
    <form action="/thankyou" method="post">
        Name: <input type="text" name="user_name" placeholder="For eg: Kanav"><br />
        Age: <input type="number" name="user_age" placeholder="For eg: 12"><br />
        <input type="submit" value="Register">
    </form>

</body>
</html>